.plant-page {
    margin-top: 40px;
    background-color: #DFD5B9;
    padding: 30px;
    border-radius: 10px;
    color: #160903;
}

.plant-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
    color: #160903;
    font-family: "Modern Antiqua", serif;
    font-weight: 600;
    font-style: normal;

}

.plant-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.plant-text {
    flex: 1;
}

.plant-description {
    font-size: 18px;
    color: #160903;
    line-height: 1.6;
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}

.plant-image {
    width: 300px;
    border-color: #160903;
    background-color: #3B4B59;
    padding: 15px 0;
    border-radius: 10px;
}

.local-nav {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
    background-image: url("images/bgplainn.png"); 
    background-size: cover;   
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.local-nav img {
    width: 90px;       
    transition: 0.3s;
}

.local-nav img:hover {
    transform: scale(1.1);
}

a {
    margin: 0;
    padding: 0;
}

.plant-image-frame {
     background-image: url("images/bgplainn.png");
    background-size: cover;       
    background-position: center;    
    padding: 20px;
    border: 12px solid #3A1C11;     
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.plant-image {
    width: 300px;
    display: block;
}

.ornament {
    text-align: center;
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 8px;
}