.plant-page {
    margin-top: 40px;
    background-color: #8d8c8e;
    padding: 30px;
    border-radius: 10px;
    color: #160903;
}

.plant-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
    color: #160903;
    font-family: "Modern Antiqua", serif;
    font-weight: 600;
    font-style: normal;
}

.plant-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.plant-text {
    flex: 1;
}

.plant-description {
    font-size: 18px;
    color: #160903;
    line-height: 1.6;
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}

.plant-image {
    width: 300px;
    border-color: #160903;
    background-color: #db5a1e;
    padding: 30px 0;
}

.local-nav {
    display: flex;
    justify-content: center;
    gap: 30px 30px 0 30px;
    padding: 10px 0 0 0;
    background-color: #db5a1e; 
}
.local-nav img {
    width: 110px;       
    transition: 0.3s;
}

.local-nav img:hover {
    transform: scale(1.1);
}

a {
    margin: 0;
    padding: 0;
}